# Grouping(그룹화)
- https://pandas.pydata.org/docs/reference/index.html

In [2]:
import numpy as np
import pandas as pd

In [4]:
df = pd.DataFrame({'A' : ['철수','영희','민수','은미','누리','두리','둘리'],
                   'B' : ['one','two','three','four','five','six','seven'],
                   'C' : np.random.randn(7),
                   'D' : np.random.randn(7), 
                  })
df

    A      B         C         D
0  철수    one  1.160793 -1.424897
1  영희    two -1.379493  1.826376
2  민수  three  1.278261 -0.375911
3  은미   four -0.012315  0.372509
4  누리   five -0.074007  0.407245
5  두리    six -0.726922  1.281523
6  둘리  seven -0.709212 -2.193682

In [6]:
df.groupby('A') #df.groupby('A') : A를 기준으로 그룹화 실시.

In [8]:
df.groupby('A').sum() #A를 기준으로 똑같은 이름들을 그룹처럼 묶어서 합계를 하는데... 내가 만든건 이름들이 다르니 걍 각개로 나옴 -ㅅ-;;

           C         D
A
누리 -0.074007  0.407245
두리 -0.726922  1.281523
둘리 -0.709212 -2.193682
민수  1.278261 -0.375911
영희 -1.379493  1.826376
은미 -0.012315  0.372509
철수  1.160793 -1.424897

In [9]:
df = pd.DataFrame({'A' : ['철수','영희','철수','영희','철수','영희','둘리'],
                   'B' : ['one','two','three','four','five','six','seven'],
                   'C' : np.random.randn(7),
                   'D' : np.random.randn(7), 
                  })
df

    A      B         C         D
0  철수    one -0.591443 -1.347989
1  영희    two -0.603399  1.185691
2  철수  three -0.212064 -0.689703
3  영희   four -0.563574  0.976638
4  철수   five -1.210878 -1.425700
5  영희    six -0.500137  0.326513
6  둘리  seven -0.981166 -0.499527

In [10]:
df.groupby('A').sum() #A를 기준으로 똑같은 이름들을 그룹처럼 묶어서 합계를 하는데... 철수끼리, 영희끼리, 둘리...는 혼자 -ㅂ-;;

           C         D
A
둘리 -0.981166 -0.499527
영희 -1.667111  2.488841
철수 -2.014385 -3.463392

# 시계열 데이터 다루기

In [35]:
a = pd.date_range('20190101',periods=100, freq='m') # 'H':시간단위 'M','m':달 'S':초단위 'D':일단위 
a

DatetimeIndex(['2019-01-31', '2019-02-28', '2019-03-31', '2019-04-30',
               '2019-05-31', '2019-06-30', '2019-07-31', '2019-08-31',
               '2019-09-30', '2019-10-31', '2019-11-30', '2019-12-31',
               '2020-01-31', '2020-02-29', '2020-03-31', '2020-04-30',
               '2020-05-31', '2020-06-30', '2020-07-31', '2020-08-31',
               '2020-09-30', '2020-10-31', '2020-11-30', '2020-12-31',
               '2021-01-31', '2021-02-28', '2021-03-31', '2021-04-30',
               '2021-05-31', '2021-06-30', '2021-07-31', '2021-08-31',
               '2021-09-30', '2021-10-31', '2021-11-30', '2021-12-31',
               '2022-01-31', '2022-02-28', '2022-03-31', '2022-04-30',
               '2022-05-31', '2022-06-30', '2022-07-31', '2022-08-31',
               '2022-09-30', '2022-10-31', '2022-11-30', '2022-12-31',
               '2023-01-31', '2023-02-28', '2023-03-31', '2023-04-30',
               '2023-05-31', '2023-06-30', '2023-07-31', '2023-08-31',
               '2023-09-30', '2023-10-31', '2023-11-30', '2023-12-31',
               '2024-01-31', '2024-02-29', '2024-03-31', '2024-04-30',
               '2024-05-31', '2024-06-30', '2024-07-31', '2024-08-31',
               '2024-09-30', '2024-10-31', '2024-11-30', '2024-12-31',
               '2025-01-31', '2025-02-28', '2025-03-31', '2025-04-30',
               '2025-05-31', '2025-06-30', '2025-07-31', '2025-08-31',
               '2025-09-30', '2025-10-31', '2025-11-30', '2025-12-31',
               '2026-01-31', '2026-02-28', '2026-03-31', '2026-04-30',
               '2026-05-31', '2026-06-30', '2026-07-31', '2026-08-31',
               '2026-09-30', '2026-10-31', '2026-11-30', '2026-12-31',
               '2027-01-31', '2027-02-28', '2027-03-31', '2027-04-30'],
              dtype='datetime64[ns]', freq='M')

In [36]:
b = pd.date_range('20190101',periods=5, freq='m') # 'H':시간단위 'M','m':달 'S':초단위 'D':일단위 
ts = pd.Series(np.random.randn(len(b)), index=b)

In [37]:
b

DatetimeIndex(['2019-01-31', '2019-02-28', '2019-03-31', '2019-04-30',
               '2019-05-31'],
              dtype='datetime64[ns]', freq='M')

In [38]:
ts

2019-01-31   -0.444397
2019-02-28   -0.406330
2019-03-31    1.189129
2019-04-30   -0.950263
2019-05-31   -1.035061
Freq: M, dtype: float64

In [40]:
ps = ts.to_period()
ps

2019-01   -0.444397
2019-02   -0.406330
2019-03    1.189129
2019-04   -0.950263
2019-05   -1.035061
Freq: M, dtype: float64

In [41]:
ps.to_timestamp()

2019-01-01   -0.444397
2019-02-01   -0.406330
2019-03-01    1.189129
2019-04-01   -0.950263
2019-05-01   -1.035061
Freq: MS, dtype: float64

In [46]:
ps2 = pd.period_range('1990Q01', '1990Q02') #Q01 : 1분기
ps2

DateParseError: Unknown datetime string format, unable to parse: 1990Q01

In [ ]:
ps2.Series(np.random.randn(len(ps2)), )