# Lambda함수
- 필요에 의해서 함수로 만들긴한데 재활용 할 것 같지는 않은 경우에 사용.
- 그래서 함수가 1줄로 표현되며, 이름이 없는 익명(Lambda)함수를 선언시 사용한다.
- 수학의 람다수학을 기원으로 사용되기 시작했다.
- 자바도 1.8버전부터 람다를 지원하기 시작하였다. 그정도로 안쓸수 없으며, 꼭 필요한 함수이다.
- 현재 많은 프로그래밍 언어에서 람다식을 채용하고 있다.

In [1]:
import numpy as np
import pandas as pd

In [9]:
#파이선에서 자바의 함수명을 사용할 경우 def를 앞에 적어서 선언한다고 공지해야함.
def f(x,y) : 
    return x+y; #함수명:f , 기능: 2개의 값을 더하여 리턴.
#이런 식으로 매우 짧은 함수이다.

f(10,15) #자바,C언어처럼 함수명&파라미터를 설정하여 실시.

25

In [16]:
#lambda - 기본형

(lambda x, y : x + y)(10,15) #이름이 없어서 f(10,15)처럼 호출을 못함. 그래서 정의직후 바로 사용한다.
#x,y는 전달인자 역할을 한다.

25

In [17]:
#lambda - 함수처럼 부른는 꼼수법

f = (lambda x, y : x + y ) #lambda를 함수처럼 쓰고 싶다면 이항연산자를 통해 넘겨준다.(한 마디로 함수처럼 쓰려고 꼼수를 쓴것.)
f(10,15)

25

In [13]:
f = lambda x : x **2
f(4)

16

## map함수의 이용
- map()은 함수와 시퀀스형 데이터를 인자로 받아서 각 요소마다 입력받은 함수를 적용한 후 반환
- 일반적으로 전달하는 함수를 lambda형태로 표현
- 사용방법 : map(function, sequence) / 자바스크립트와 사용법이 유사하다고 하심.

In [69]:
#예제1 - 리스트형 변수에게 람다함수를 적용하는 경우.
# 자바라면 for문을 통해 연산을 해야한다.
# 하지만 파이선은 map()을 통해 간단히 할 수 있다.

lst = [1,2,3,4,5] # lst : 리스트형 변수.
f = lambda x : x ** 2 
list(map(f,lst))

[1, 4, 9, 16, 25]

In [67]:
map(f,lst) #값을 리스트형으로 제대로 받고 싶다면 list(map(f,lst)) 으로 해야한다.

In [70]:
#lambda - 값이 2개만 받아서 하는 경우.
f1 = lambda x,y : x * y 
f1(10,12)

120

In [72]:
# 2개의 리스트형을 람다함수를 통해 계산하는 예제.
# 위의 연산과 비교하면 sequence가 2개인 점.

f1 = lambda x,y : x * y
lst1 = [1,2,3,4,5]
lst2 = [10,11,12,13,14,15]
list(map(f1,lst1,lst2))

[10, 22, 36, 52, 70]

In [73]:
map(f1,lst1,lst2)

## map함수를 Series에 적용

In [29]:
#시리즈도 numpy의 list형과 동일하기에 map함수를 쓰기 용이하다.(단 처리방법은 약간 다르니 주의)
s1 = pd.Series(np.arange(10))
s1

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [33]:
list(map(lambda x: x**2, s1)) #시리즈 s1을 값으로 주어 각 제곱연산후 list형으로 수신&출력

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [35]:
s1.map(lambda x: x**2)#series형으로 출력한다

0     0
1     1
2     4
3     9
4    16
5    25
6    36
7    49
8    64
9    81
dtype: int64

## map함수를 이용해서 데이터를 수정
- [주의] 원본데이터를 수정하는것이 아니다.(원본데이터는 변화없이 그대로 유지된다.)
- map함수 활용한 수정 = 필요에 따라 임시방편처럼 바꾼다는 정도로 이해하는 게 좋다.

In [36]:
s1 = pd.Series(np.arange(10))
s1

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [66]:
dic = {1:'A', 2:'B', 3:'C'} # 딕셔너리 {키값 :'value값',키값 :'value값' ...}
dic

{1: 'A', 2: 'B', 3: 'C'}

In [41]:
#dic의 데이터를 s1에게 엎어칠 수 있다
#일치하는 행번호는 해당 vlaue값으로 덮는다. 이외는 Nan처리.
s1.map(dic)

0    NaN
1      A
2      B
3      C
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
dtype: object

In [74]:
s1 #s2의 값으로 덮기전에 바뀌기 전 확인용 출력.
#s1는 map()를 실시해도 그대로 유지됨을 알 수 있다.

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [48]:
#시리즈형 변수의 값으로 덮어씌우기 예제
s2 = pd.Series(np.arange(10,20))
s2

0    10
1    11
2    12
3    13
4    14
5    15
6    16
7    17
8    18
9    19
dtype: int64

In [49]:
s1.map(s2) #s1은 s2의 값으로 변경되었다

0    10
1    11
2    12
3    13
4    14
5    15
6    16
7    17
8    18
9    19
dtype: int64

In [75]:
s1 #물론 s1 원본의 값은 바뀌지 않는다.

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

## map()을 DataFrame에 적용
- 캐글 예제 자료출처https://www.kaggle.com/ljanjughazyan/wages

In [52]:
df = pd.read_csv("./data/wages.csv")
df

              earn  height     sex   race  ed  age
0     79571.299011   73.89    male  white  16   49
1     96396.988643   66.23  female  white  16   62
2     48710.666947   63.77  female  white  16   33
3     80478.096153   63.22  female  other  16   95
4     82089.345498   63.08  female  white  17   43
...            ...     ...     ...    ...  ..  ...
1374  30173.380363   71.68    male  white  12   33
1375  24853.519514   61.31  female  white  18   86
1376  13710.671312   63.64  female  white  12   37
1377  95426.014410   71.65    male  white  12   54
1378   9575.461857   68.22    male  white  12   31

[1379 rows x 6 columns]

In [53]:
df.head(10)#[참고]df.head(10) : 맨위의 10개 행만 본다.좀 더 심플하게 데이터가 잘 들어왔는지 확인시 용이함.

           earn  height     sex      race  ed  age
0  79571.299011   73.89    male     white  16   49
1  96396.988643   66.23  female     white  16   62
2  48710.666947   63.77  female     white  16   33
3  80478.096153   63.22  female     other  16   95
4  82089.345498   63.08  female     white  17   43
5  15313.352901   64.53  female     white  15   30
6  47104.171821   61.54  female     white  12   53
7  50960.054282   73.29    male     white  17   50
8   3212.649556   72.24    male  hispanic  15   25
9  42996.637884   72.40    male     white  12   30

In [55]:
df.race.unique()

array(['white', 'other', 'hispanic', 'black'], dtype=object)

In [57]:
# 성별을 0,1으로 수정하고자 하면
# 방법1) repalce()를 사용한다.(원본데이터가 바뀐다는 약점이 있다.)
# 방법2) map()를 사용한다(원본데이터 유지됨)

In [62]:
#code라는 열(컬럼)을 추가하고자 한다.
df["code"] = df.sex.map({"male":0,"female":1}) #남성이면 0, 여성이면 1을 기입.
df

              earn  height     sex   race  ed  age  code
0     79571.299011   73.89    male  white  16   49     0
1     96396.988643   66.23  female  white  16   62     1
2     48710.666947   63.77  female  white  16   33     1
3     80478.096153   63.22  female  other  16   95     1
4     82089.345498   63.08  female  white  17   43     1
...            ...     ...     ...    ...  ..  ...   ...
1374  30173.380363   71.68    male  white  12   33     0
1375  24853.519514   61.31  female  white  18   86     1
1376  13710.671312   63.64  female  white  12   37     1
1377  95426.014410   71.65    male  white  12   54     0
1378   9575.461857   68.22    male  white  12   31     0

[1379 rows x 7 columns]

In [65]:
del df["code"] #code라는 컬럼은 연습용으로 만든거라 불필요해서 삭제.
#2번 이상 실시할 경우 에러날 수 있음. 이미 삭제된걸 또 지우라고 인식해서..

KeyError: 'code'

In [64]:
df

              earn  height     sex   race  ed  age
0     79571.299011   73.89    male  white  16   49
1     96396.988643   66.23  female  white  16   62
2     48710.666947   63.77  female  white  16   33
3     80478.096153   63.22  female  other  16   95
4     82089.345498   63.08  female  white  17   43
...            ...     ...     ...    ...  ..  ...
1374  30173.380363   71.68    male  white  12   33
1375  24853.519514   61.31  female  white  18   86
1376  13710.671312   63.64  female  white  12   37
1377  95426.014410   71.65    male  white  12   54
1378   9575.461857   68.22    male  white  12   31

[1379 rows x 6 columns]

In [77]:
## replace()함수를 통해 수정하는 예제
df.sex.replace(["male","female"],[0,1])

0       0
1       1
2       1
3       1
4       1
       ..
1374    0
1375    1
1376    1
1377    0
1378    0
Name: sex, Length: 1379, dtype: int64

In [78]:
df #원본 데이터에서는 적용되지 않았음을 알 수 있따.

              earn  height     sex   race  ed  age
0     79571.299011   73.89    male  white  16   49
1     96396.988643   66.23  female  white  16   62
2     48710.666947   63.77  female  white  16   33
3     80478.096153   63.22  female  other  16   95
4     82089.345498   63.08  female  white  17   43
...            ...     ...     ...    ...  ..  ...
1374  30173.380363   71.68    male  white  12   33
1375  24853.519514   61.31  female  white  18   86
1376  13710.671312   63.64  female  white  12   37
1377  95426.014410   71.65    male  white  12   54
1378   9575.461857   68.22    male  white  12   31

[1379 rows x 6 columns]

In [84]:
## replace()함수를 통해 수정하는 예제2-원본 수정하기
## inplace=True 옵션을 통해 변경된 값을 원본에게 저장(덮어씌우기)한다.

df.sex.replace(["male","female"],[0,1],inplace=True) ## inplace=True 옵션을 통해 변경된 값을 원본에게 저장(덮어씌우기).

TypeError: Cannot compare types 'ndarray(dtype=int64)' and 'str'

In [85]:
df #원본의 성이 0,1으로 변경됨이 확인됨.

              earn  height  sex   race  ed  age
0     79571.299011   73.89    0  white  16   49
1     96396.988643   66.23    1  white  16   62
2     48710.666947   63.77    1  white  16   33
3     80478.096153   63.22    1  other  16   95
4     82089.345498   63.08    1  white  17   43
...            ...     ...  ...    ...  ..  ...
1374  30173.380363   71.68    0  white  12   33
1375  24853.519514   61.31    1  white  18   86
1376  13710.671312   63.64    1  white  12   37
1377  95426.014410   71.65    0  white  12   54
1378   9575.461857   68.22    0  white  12   31

[1379 rows x 6 columns]

## apply()함수의 사용
- 데이터 분석 및 통계를 할 경우 사용합니다.

In [86]:
df

              earn  height  sex   race  ed  age
0     79571.299011   73.89    0  white  16   49
1     96396.988643   66.23    1  white  16   62
2     48710.666947   63.77    1  white  16   33
3     80478.096153   63.22    1  other  16   95
4     82089.345498   63.08    1  white  17   43
...            ...     ...  ...    ...  ..  ...
1374  30173.380363   71.68    0  white  12   33
1375  24853.519514   61.31    1  white  18   86
1376  13710.671312   63.64    1  white  12   37
1377  95426.014410   71.65    0  white  12   54
1378   9575.461857   68.22    0  white  12   31

[1379 rows x 6 columns]

In [88]:
# 6개의 칼럼 중 earn, height, sex 칼럼만 갖고옴
df_sample=df[["earn","height","age"]]
df_sample.head()

           earn  height  age
0  79571.299011   73.89   49
1  96396.988643   66.23   62
2  48710.666947   63.77   33
3  80478.096153   63.22   95
4  82089.345498   63.08   43

In [89]:
#란다 함수 사용하여 x의 최대값, 최소값을 가져오고 이를 리턴한다.
f = lambda x : x.max() - x.min()

In [91]:
#apply함수로 컬럼별 마다의 결과를 출력한다.
df_sample.apply(f) #람다 함수f를 전달인자로 사용, 란다함수는 3개의 칼럼들마다 결과를 출력

earn      318047.708444
height        19.870000
age           73.000000
dtype: float64

In [97]:
def fx(x):
    return pd.Series([x.max(), x.min()], index=["max","min"]) #하나의 묶음형으로 만들기 위해 대괄호로 묶었다.

df_sample.apply(fx)

              earn  height  age
max  317949.127955   77.21   95
min     -98.580489   57.34   22