# Pandas 개요
- Structured(구조화)된 데이터의 처리를 지원하는 파이선 라이브러리
- Numpy와 결합하여 스프레드시트를 처리하는 기능을 제공.
- indexing, 연산함수, 결측치(누락되거나 엉뚱한 값이 들어간 것)를 처리하는 전처리 기능 제공.
- 개발자 출신이면서 소프트웨어 개발하는 분들이 많이 씁니다. 
  문과출신들은 R을 쓰는게 좋다고 함.

# [1] <span style="color:blue">1) Pandas 구성요소 확인 </span>
- DataFrame : Data Table 전체를 의미하는 용어
- Series : DataFrame 중에서 하나의 colum에 해당하는 데이터

### series

In [11]:
from pandas import Series, DataFrame #다른 사람들이 주는 잘 정리된 데이터가 아닌 직접 만들어야 하는 경우.
import pandas as pd
import numpy as np

In [12]:
list_data = [1,2,3,4,5] #파이썬 리스트를 이용하여 데이터 준비. 대부분은 csv로 만들어진 데이터를 활용하기에 read_csv()를 많이쓴다.

p_sample = Series(list_data)

In [13]:
list_data

[1, 2, 3, 4, 5]

In [14]:
p_sample

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [16]:
# index를 특별히 지정하지 않으면 0~ 부터시작한다.
# index를 문자로 해도된다.

list_data = [11,12,13,14,15]
list_name = ['a','b','c','zzzz','ㅋㅋㅋㅋ']
obj = Series(data=list_data, index=list_name)
obj
# 키값    밸류값
#a       11
#b       12
#c       13
#zzzz    14
#ㅋㅋㅋㅋ    15

a       11
b       12
c       13
zzzz    14
ㅋㅋㅋㅋ    15
dtype: int64

In [22]:
#파이썬 딕셔너리를 이용하여 Series 생성하기
#시리즈를 만드는 것은 딕셔너리로도 가능하다.

dic_data = {'a':21, 'b':22, 'c':23, 'd':24, 'e':25 } #자바스크립트의 경우 이를 JSON 이라고 부른다.#크롤링할 데이터들은 대부분 JSON구조
dic_obj = Series(dic_data)#dtype는 int64로 자동설정된다.
dic_obj = Series(dic_data, dtype=np.float, name="mySeries")#혹시 float형으로 쓰고 싶다면 이렇게 작성.
dic_obj

a    21.0
b    22.0
c    23.0
d    24.0
e    25.0
Name: mySeries, dtype: float64

In [24]:
#데이터 참조하기
#파이썬 딕셔너리로 만든 Series에서 데이터 꺼내기
#일반적인 딕셔너리를 쓰듯이 하면된다.

dic_obj["e"] #출력결과가  dic_obj[4]와 같다.

25.0

In [31]:
#데이터 수정하기
dic_obj["e"]=55.7
dic_obj

a    21.0
b    22.0
c    23.0
d    24.0
e    55.7
Name: mySeries, dtype: float64

In [32]:
#value와 index를 각각 파이썬 리스트로 추출
dic_obj.values #값만 출력!

array([21. , 22. , 23. , 24. , 55.7])

In [35]:
#value와 index를 각각 파이썬 리스트로 추출
dic_obj.index #인덱스만 출력한다.

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [37]:
#Boolean연산
dic_obj > 22

a    False
b    False
c     True
d     True
e     True
Name: mySeries, dtype: bool

In [39]:
dic_obj[dic_obj>22] #True인 애들만 출력

c    23.0
d    24.0
e    55.7
Name: mySeries, dtype: float64

In [44]:
dic_obj*1.5 #브로드 캐스팅

a    31.50
b    33.00
c    34.50
d    36.00
e    83.55
Name: mySeries, dtype: float64

In [45]:
dic_obj #브로드 캐스팅 연산결과를 저장시키지 않았으므로 기존값들은 유지된다

a    21.0
b    22.0
c    23.0
d    24.0
e    55.7
Name: mySeries, dtype: float64

In [46]:
np.exp(dic_obj)

a    1.318816e+09
b    3.584913e+09
c    9.744803e+09
d    2.648912e+10
e    1.549539e+24
Name: mySeries, dtype: float64

In [47]:
"k" in dic_obj# "k"라는 키(index)가 있니? 라고 묻는 것.

False

In [48]:
"b" in dic_obj# "b"라는 키(index)가 있니? 라고 묻는 것.

True

## NaN(Not a Number, "데이터가 존재하지 않습니다!" 라고 말하는 용어)

In [50]:
#파이썬 딕셔너리를 이용하여 Series 생성하기
#시리즈를 만드는 것은 딕셔너리로도 가능하다.

dic_data = {'a':21, 'b':22, 'c':23, 'd':24, 'e':25 } #자바스크립트의 경우 이를 JSON 이라고 부른다.#크롤링할 데이터들은 대부분 JSON구조
list_name = ['a','b','c','d','e','f','g','h']
dic_obj2 = Series(data=dic_data, index=list_name, dtype=np.float, name="mySeries1")
#"index="는 인덱스의 이름을 지정하기 위해 사용한는 명령어.
dic_obj2

a    21.0
b    22.0
c    23.0
d    24.0
e    25.0
f     NaN
g     NaN
h     NaN
Name: mySeries1, dtype: float64

In [52]:
dic_obj2.fillna(0) # NaN값들을 '0'으로 바꾸도록 설정하였다

a    21.0
b    22.0
c    23.0
d    24.0
e    25.0
f     0.0
g     0.0
h     0.0
Name: mySeries1, dtype: float64