In [7]:
import numpy as np
import pandas as pd
import os

In [8]:
os.getcwd() #작업의 절대경로 파악

'/Users/Gim_Bo_Seong/SourceTree/Machine-learning/SWDO_3th_ML'

In [12]:
ris = pd.read_excel('./data/15k2-1.xlsx') #현재 작업공간을 기준으로 읽을 csv파일명 및 경로 설정

In [13]:
ris.head()

,Population Estimates by Age (Five-Year Groups) and Sex,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,,"June 1, 2020 (Provisional estimates)",NaN,NaN,NaN,"January 1, 2020 (Final estimates)",NaN,NaN,NaN,NaN,NaN
2,Age groups,NaN,NaN,Total population,NaN,NaN,NaN,Total population,NaN,NaN,Japanese population,NaN,NaN
3,NaN,NaN,NaN,Both sexes,Male,Female,NaN,Both sexes,Male,Female,Both sexes,Male,Female
4,NaN,NaN,NaN,Population (Ten thousand persons),NaN,NaN,NaN,NaN,Population (Thousand persons),NaN,NaN,NaN,NaN