### 서울특별시 공공자전거 대여소 정보(19.12.9).xlsx
### 서울특별시 공공자전거 대여정보_201911_2.csv

퀴즈퀴즈~
@@@ 대여소 정보 엑셀파일
1) 대여소의 구가 몇개입니까?(대여소구 종류 출력
시리즈든 데이터프레임이든 제한없음

2) 데여소구 종류 평균 거치대 수

@@@ 대여정보 데이터 씨에스브이
3) 대여소정보 join 대여정보 
4) 각 구별 평균 이용시간, 이용거리

In [3]:
import pandas as pd
import numpy as np

## step1. 대여소 정보 읽어오기

In [4]:
place = pd.read_excel("./data/서울특별시 공공자전거 대여소 정보(19.12.9).xlsx", delimiter=",")
place

,대여소_구,대여소ID,대여소명,대여소주소,위도,경도,기준시작일자,거치대수
0,마포구,101.0,101. (구)합정동 주민센터,서울특별시 마포구 동교로8길 58,37.549561,126.905754,2015-09-06 23:40:56,5
1,마포구,102.0,102. 망원역 1번출구 앞,서울특별시 마포구 월드컵로 72,37.555649,126.910629,2015-09-06 23:42:06,20
2,마포구,103.0,103. 망원역 2번출구 앞,서울특별시 마포구 월드컵로 79,37.554951,126.910835,2015-09-06 23:43:13,14
3,마포구,104.0,104. 합정역 1번출구 앞,서울특별시 마포구 양화로 59,37.550629,126.914986,2015-09-06 23:44:31,13
4,마포구,105.0,105. 합정역 5번출구 앞,서울특별시 마포구 양화로 48,37.550007,126.914825,2015-09-06 23:45:30,5
...,...,...,...,...,...,...,...,...
1536,관악구,2185.0,대학동 고시촌,서울특별시 관악구 신림로 97 밀라트,37.470467,126.938652,2019.09.26,10
1537,서초구,2265.0,2265. 이수고가차도 남단,서울특별시 서초구 동작대로 204 청남빌딩,37.494743,126.983063,2017-08-09 11:16:28,10
1538,종로구,465.0,465. 삼청공원 앞,서울특별시 종로구 삼청동 25-32,37.587605,126.983597,2019.11.20,5
1539,종로구,664.0,서울시립대 대학본부,동대문구 서울시립대로 163 서울시립대학교,37.584129,127.057938,2019.11.20,10
1540,합계,NaN,1540,NaN,NaN,NaN,NaN,19545

In [9]:
# 아래의 체크사항들은 전처리 과정 이라고 부릅니다.

In [15]:
# 체크사항1 : null값이 있습니까? 몇개나 있습니까? isnull()만 활용하면 몇개인지까지는 알 수없다.
place.isnull()

      대여소_구  대여소ID   대여소명  대여소주소     위도     경도  기준시작일자   거치대수
0     False  False  False  False  False  False   False  False
1     False  False  False  False  False  False   False  False
2     False  False  False  False  False  False   False  False
3     False  False  False  False  False  False   False  False
4     False  False  False  False  False  False   False  False
...     ...    ...    ...    ...    ...    ...     ...    ...
1536  False  False  False  False  False  False   False  False
1537  False  False  False  False  False  False   False  False
1538  False  False  False  False  False  False   False  False
1539  False  False  False  False  False  False   False  False
1540  False   True  False   True   True   True    True  False

[1541 rows x 8 columns]

In [19]:
# 체크사항1+a : sum()함수를 같이 쓰면 몇개인지 까지 알 수 있다.
place.isnull().sum()

대여소_구     0
대여소ID     1
대여소명      0
대여소주소     1
위도        1
경도        1
기준시작일자    1
거치대수      0
dtype: int64

In [20]:
# 체크사항2 : nan이 있는 컬럼 출력 -place만 쓰면 참거짓만 알수 있다.
place['대여소ID'].isnull()

0       False
1       False
2       False
3       False
4       False
        ...
1536    False
1537    False
1538    False
1539    False
1540     True
Name: 대여소ID, Length: 1541, dtype: bool

In [22]:
# 체크사항2 : nan이 있는 컬럼 출력
place[place['대여소ID'].isnull()] #널이 포함된 행을 뽑아낸다.

     대여소_구  대여소ID  대여소명 대여소주소  위도  경도 기준시작일자   거치대수
1540    합계    NaN  1540   NaN NaN NaN    NaN  19545

In [24]:
# 체크사항3 : nan값을 삭제 =>전처리 과정 실시
place = place.dropna(how="any")
place

,대여소_구,대여소ID,대여소명,대여소주소,위도,경도,기준시작일자,거치대수
0,마포구,101.0,101. (구)합정동 주민센터,서울특별시 마포구 동교로8길 58,37.549561,126.905754,2015-09-06 23:40:56,5
1,마포구,102.0,102. 망원역 1번출구 앞,서울특별시 마포구 월드컵로 72,37.555649,126.910629,2015-09-06 23:42:06,20
2,마포구,103.0,103. 망원역 2번출구 앞,서울특별시 마포구 월드컵로 79,37.554951,126.910835,2015-09-06 23:43:13,14
3,마포구,104.0,104. 합정역 1번출구 앞,서울특별시 마포구 양화로 59,37.550629,126.914986,2015-09-06 23:44:31,13
4,마포구,105.0,105. 합정역 5번출구 앞,서울특별시 마포구 양화로 48,37.550007,126.914825,2015-09-06 23:45:30,5
...,...,...,...,...,...,...,...,...
1535,종로구,464.0,삼청동 골목,종로구 팔판길 46,37.584190,126.981697,2019.08.16,10
1536,관악구,2185.0,대학동 고시촌,서울특별시 관악구 신림로 97 밀라트,37.470467,126.938652,2019.09.26,10
1537,서초구,2265.0,2265. 이수고가차도 남단,서울특별시 서초구 동작대로 204 청남빌딩,37.494743,126.983063,2017-08-09 11:16:28,10
1538,종로구,465.0,465. 삼청공원 앞,서울특별시 종로구 삼청동 25-32,37.587605,126.983597,2019.11.20,5
1539,종로구,664.0,서울시립대 대학본부,동대문구 서울시립대로 163 서울시립대학교,37.584129,127.057938,2019.11.20,10

In [26]:
# 체크사항4 : 대여소Id의 타입을 확인 후 int32으로 변환
#넘파이의 dtype를 통해 확인 가능하다.

place["대여소ID"].dtypes

dtype('float64')

In [27]:
#astype()명령을 통해 int32으로 변경한다. "대여소ID"를 언급하여 대상을 확실히 언급한다.
place.astype({"대여소ID" : np.int32})

,대여소_구,대여소ID,대여소명,대여소주소,위도,경도,기준시작일자,거치대수
0,마포구,101,101. (구)합정동 주민센터,서울특별시 마포구 동교로8길 58,37.549561,126.905754,2015-09-06 23:40:56,5
1,마포구,102,102. 망원역 1번출구 앞,서울특별시 마포구 월드컵로 72,37.555649,126.910629,2015-09-06 23:42:06,20
2,마포구,103,103. 망원역 2번출구 앞,서울특별시 마포구 월드컵로 79,37.554951,126.910835,2015-09-06 23:43:13,14
3,마포구,104,104. 합정역 1번출구 앞,서울특별시 마포구 양화로 59,37.550629,126.914986,2015-09-06 23:44:31,13
4,마포구,105,105. 합정역 5번출구 앞,서울특별시 마포구 양화로 48,37.550007,126.914825,2015-09-06 23:45:30,5
...,...,...,...,...,...,...,...,...
1535,종로구,464,삼청동 골목,종로구 팔판길 46,37.584190,126.981697,2019.08.16,10
1536,관악구,2185,대학동 고시촌,서울특별시 관악구 신림로 97 밀라트,37.470467,126.938652,2019.09.26,10
1537,서초구,2265,2265. 이수고가차도 남단,서울특별시 서초구 동작대로 204 청남빌딩,37.494743,126.983063,2017-08-09 11:16:28,10
1538,종로구,465,465. 삼청공원 앞,서울특별시 종로구 삼청동 25-32,37.587605,126.983597,2019.11.20,5
1539,종로구,664,서울시립대 대학본부,동대문구 서울시립대로 163 서울시립대학교,37.584129,127.057938,2019.11.20,10

# step2. 대여 정보 읽어오기

In [5]:
rent_info = pd.read_csv("./data/서울특별시 공공자전거 대여정보_201911_2.csv",encoding="cp949", delimiter=",")
rent_info

,자전거번호,대여일시,대여 대여소번호,대여 대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간,이용거리
0,SPB-04392,2019-11-28 23:07:06,2377,수서역 5번출구 뒤,9,2019-11-28 23:18:44,1203,밀리아나2빌딩 앞,5,11,1980.0
1,SPB-23502,2019-11-28 22:43:23,2613,잠실나들목,3,2019-11-29 00:07:07,1203,밀리아나2빌딩 앞,1,82,11130.0
2,SPB-11498,2019-11-29 00:04:35,1256,문정현대아파트 교차로,6,2019-11-29 00:11:24,1203,밀리아나2빌딩 앞,14,6,800.0
3,SPB-16665,2019-11-29 00:02:57,1278,송파구청 교차로,9,2019-11-29 00:21:18,1203,밀리아나2빌딩 앞,2,18,3730.0
4,SPB-14688,2019-11-29 00:17:16,1230,송파중학교 정문,5,2019-11-29 00:26:36,1203,밀리아나2빌딩 앞,3,9,1370.0
...,...,...,...,...,...,...,...,...,...,...,...
678825,SPB-07983,2019-11-26 08:27:07,2183,동방1교,2,2019-11-26 09:31:27,99999,영남단말기정비,5,59,8520.0
678826,SPB-24906,2019-11-27 08:26:19,2141,미림여고입구 교차로,2,2019-11-27 09:26:19,99999,영남단말기정비,5,59,8680.0
678827,SPB-17861,2019-11-28 08:11:43,2183,동방1교,4,2019-11-28 08:54:39,99999,영남단말기정비,5,40,10570.0
678828,SPB-17173,2019-11-29 08:12:31,2183,동방1교,1,2019-11-29 09:17:29,99999,영남단말기정비,5,64,10560.0
678829,SPB-17714,2019-11-29 11:47:16,99999,영남단말기정비,5,2019-11-29 13:04:17,99999,영남단말기정비,5,76,2420.0

In [9]:
# 아래의 체크사항들은 전처리 과정 이라고 부릅니다.

In [28]:
# 체크사항1 : null값이 있습니까? 몇개나 있습니까? isnull() 활용
rent_info.isnull().sum()

자전거번호       0
대여일시        0
대여 대여소번호    0
대여 대여소명     0
대여거치대       0
반납일시        0
반납대여소번호     0
반납대여소명      0
반납거치대       0
이용시간        0
이용거리        0
dtype: int64

In [33]:
# 체크사항2 : nan이 있는 컬럼 출력
rent_info[rent_info['대여일시'].isnull()] #널이 포함된 행을 뽑아낸다.여기선 없으니 굳이 할 필요없지.

Empty DataFrame
Columns: [자전거번호, 대여일시, 대여 대여소번호, 대여 대여소명, 대여거치대, 반납일시, 반납대여소번호, 반납대여소명, 반납거치대, 이용시간, 이용거리]
Index: []

In [12]:
# 체크사항3 : nan값을 삭제 =>전처리 과정 실시 #생략/널값없음

In [13]:
# 체크사항4 : 대여소Id의 타입을 확인 후 int32으로 변환

In [ ]:
for name, group in myGroup :
    print(name)

In [ ]:
#***  대여소 정보
#1) 대여소_구 종류 출력
#2) 대여소_구 종류 평균 거치대 수

#*** 대여정보 데이터
#3) 대여소정보 join 대여정보
#4) 각 구별 평균 이용시간, 이용거리
#5) agg 함수를 이용해서 최대이용시간, 최소이용시간 등

#kilah@softsociety.net

In [7]:
#1) 대여소_구 종류 출력
# 방법1
#place.groupby("대여소_구")["거치대수"].sum()#거치대수까지 나오므로 과잉출력...
place.groupby("대여소_구")["대여소_구"].count()#

대여소_구
강남구     99
강동구     57
강북구     39
강서구     85
관악구     51
광진구     59
구로구     64
금천구     45
노원구     68
도봉구     33
동대문구    51
동작구     41
마포구     79
서대문구    51
서초구     89
성동구     63
성북구     58
송파구     99
양천구     55
영등포구    89
용산구     39
은평구     63
종로구     68
중구      43
중랑구     52
합계       1
Name: 대여소_구, dtype: int64

In [80]:
#1) 대여소_구 종류 출력
# 방법1
#place.groupby("대여소_구")["거치대수"].sum()#거치대수까지 나오므로 과잉출력...
# 방법2 
#for name, group in place :
#    print(name)
# 방법2  - 너무 많은데 시간내에 해결못한 상태.
for  name,group in place :
    print(name)

ValueError: too many values to unpack (expected 2)

In [46]:
#2) 대여소_구 종류 평균 거치대 수
place.groupby("대여소_구")["거치대수"].mean()

대여소_구
강남구     12.303030
강동구     13.385965
강북구     11.564103
강서구     11.788235
관악구     12.549020
광진구     14.254237
구로구     12.312500
금천구     12.444444
노원구     12.926471
도봉구     12.000000
동대문구    12.921569
동작구     12.219512
마포구     13.607595
서대문구    13.078431
서초구     13.786517
성동구     12.380952
성북구     12.517241
송파구     13.111111
양천구     12.309091
영등포구    14.044944
용산구     13.794872
은평구     11.365079
종로구     11.529412
중구      11.465116
중랑구     11.846154
Name: 거치대수, dtype: float64

In [60]:
#3) 대여소정보 join 대여정보
mergeData = pd.merge(place, rent_info, left_on='대여소ID', right_on='대여 대여소번호')
mergeData

,대여소_구,대여소ID,대여소명,대여소주소,위도,경도,기준시작일자,거치대수,자전거번호,대여일시,대여 대여소번호,대여 대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간,이용거리
0,마포구,101.0,101. (구)합정동 주민센터,서울특별시 마포구 동교로8길 58,37.549561,126.905754,2015-09-06 23:40:56,5,SPB-23976,2019-11-04 19:57:12,101,(구)합정동 주민센터,3,2019-11-04 21:21:10,1231,잠실역 6번출구,1,81,63150.0
1,마포구,101.0,101. (구)합정동 주민센터,서울특별시 마포구 동교로8길 58,37.549561,126.905754,2015-09-06 23:40:56,5,SPB-08747,2019-11-02 01:50:14,101,(구)합정동 주민센터,5,2019-11-02 02:30:11,2016,신대방삼거리역 3번출구쪽,5,40,8920.0
2,마포구,101.0,101. (구)합정동 주민센터,서울특별시 마포구 동교로8길 58,37.549561,126.905754,2015-09-06 23:40:56,5,SPB-16380,2019-11-09 01:31:57,101,(구)합정동 주민센터,1,2019-11-09 02:14:43,2016,신대방삼거리역 3번출구쪽,5,42,8890.0
3,마포구,101.0,101. (구)합정동 주민센터,서울특별시 마포구 동교로8길 58,37.549561,126.905754,2015-09-06 23:40:56,5,SPB-15723,2019-11-16 01:51:54,101,(구)합정동 주민센터,1,2019-11-16 02:28:24,2016,신대방삼거리역 3번출구쪽,6,36,8850.0
4,마포구,101.0,101. (구)합정동 주민센터,서울특별시 마포구 동교로8길 58,37.549561,126.905754,2015-09-06 23:40:56,5,SPB-20417,2019-11-09 20:28:51,101,(구)합정동 주민센터,1,2019-11-09 22:12:52,2113,관악동작견인차량보관소,7,98,13120.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
677500,종로구,664.0,서울시립대 대학본부,동대문구 서울시립대로 163 서울시립대학교,37.584129,127.057938,2019.11.20,10,SPB-19278,2019-11-26 22:37:36,664,서울시립대 대학본부,10,2019-11-26 22:54:27,1643,태릉입구역 8번출구,1,15,5060.0
677501,종로구,664.0,서울시립대 대학본부,동대문구 서울시립대로 163 서울시립대학교,37.584129,127.057938,2019.11.20,10,SPB-08625,2019-11-30 21:30:12,664,서울시립대 대학본부,10,2019-11-30 21:53:14,1643,태릉입구역 8번출구,7,22,4450.0
677502,종로구,664.0,서울시립대 대학본부,동대문구 서울시립대로 163 서울시립대학교,37.584129,127.057938,2019.11.20,10,SPB-20275,2019-11-26 18:19:41,664,서울시립대 대학본부,5,2019-11-26 18:59:16,1664,노해근린공원내,4,38,8790.0
677503,종로구,664.0,서울시립대 대학본부,동대문구 서울시립대로 163 서울시립대학교,37.584129,127.057938,2019.11.20,10,SPB-18219,2019-11-23 18:23:56,664,서울시립대 대학본부,5,2019-11-23 20:12:34,1707,도봉구민회관,15,108,12550.0
677504,종로구,664.0,서울시립대 대학본부,동대문구 서울시립대로 163 서울시립대학교,37.584129,127.057938,2019.11.20,10,SPB-14490,2019-11-22 10:21:48,664,서울시립대 대학본부,10,2019-11-22 11:00:45,3508,화양사거리,10,38,6540.0

In [62]:
#4) 각 구별 평균 이용시간, 이용거리
#4-1 각 구별 평균 이용시간
mergeData.groupby("대여소_구")["이용시간"].mean()

대여소_구
강남구     23.382298
강동구     26.260650
강북구     19.494643
강서구     17.299746
관악구     20.469692
광진구     21.522678
구로구     19.570479
금천구     19.544569
노원구     20.382049
도봉구     20.758714
동대문구    22.714575
동작구     22.934526
마포구     44.869336
서대문구    31.755382
서초구     22.452883
성동구     31.316633
성북구     18.888129
송파구     22.488512
양천구     29.650766
영등포구    31.721189
용산구     41.099339
은평구     45.856749
종로구     28.761135
중구      37.877796
중랑구     18.764389
Name: 이용시간, dtype: float64

In [63]:
#4) 각 구별 평균 이용시간, 이용거리
#4-1 각 구별 평균 이용시간
mergeData.groupby("대여소_구")["이용거리"].mean()

대여소_구
강남구     3193.727233
강동구     4128.647530
강북구     2541.262305
강서구     3037.660029
관악구     2929.804723
광진구     2884.606619
구로구     2691.200561
금천구     2769.887676
노원구     2661.159418
도봉구     2883.359794
동대문구    3604.658298
동작구     3150.196766
마포구     8621.309039
서대문구    4803.547582
서초구     3059.817962
성동구     4723.099450
성북구     2516.085702
송파구     2802.381620
양천구     5360.720915
영등포구    5330.747505
용산구     6910.704033
은평구     8899.338843
종로구     4516.685792
중구      6526.280761
중랑구     2591.262076
Name: 이용거리, dtype: float64

In [68]:
# 5) "대여소_구" 별로 최대이용시간, 최소이용시간 
mergeDataGroup = mergeData.groupby("대여소_구")["이용시간"]
mergeDataGroup.agg([np.sum,np.mean,np.max,np.min])

           sum       mean  amax  amin
대여소_구
강남구    1323555  23.382298   740     1
강동구     285427  26.260650   237     1
강북구     493117  19.494643   772     1
강서구     129454  17.299746   383     1
관악구     916162  20.469692   666     1
광진구     772535  21.522678  1000     1
구로구     851081  19.570479   969     1
금천구     433264  19.544569   370     1
노원구    1475803  20.382049  1719     1
도봉구     515169  20.758714   701     1
동대문구    325727  22.714575   518     1
동작구     601435  22.934526  1282     1
마포구     187150  44.869336   249     2
서대문구    101776  31.755382   316     1
서초구    1319758  22.452883   476     1
성동구     580673  31.316633   919     1
성북구     635170  18.888129  1025     1
송파구    2326639  22.488512  1106     1
양천구     137372  29.650766   236     1
영등포구    559308  31.721189   556     1
용산구     180385  41.099339   777     5
은평구      16646  45.856749   218     2
종로구     190485  28.761135   306     1
중구      135451  37.877796  1066     2
중랑구     640954  18.764389   636     1